<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pdm.ifpb.edu.br.projetofinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bebechorando"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuInicial" android:label="@string/app_menuinicial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WebCam"
            android:label="@string/app_webcam" />
        <activity
            android:name=".Gravacao"
            android:label="@string/app_gravacao" />
        <activity
            android:name=".AoVivo"
            android:label="@string/app_aovivo" />
        <activity android:name=".Gravacoes"
            android:label="@string/app_gravacoes"/>
        <activity android:name=".ConfiguracoesDoControle"
            android:label="@string/app_cofiguracaodocontrole">

        </activity>
    </application>

</manifest>